<ion-content [fullscreen]="true">
  <main class="page-shell perfil-shell">
    <header class="header-simple">
      <button class="back-btn" type="button" (click)="volver()">‹</button>
      <h1>Completar Perfil</h1>
    </header>

    <section class="screen-padding">
      <div class="success-box">
        <span>✓</span>
        <strong>Identidad validada exitosamente con Clave Única.</strong>
      </div>

      <label class="form-label">Dirección Principal</label>
      <input class="input-box" [(ngModel)]="direccionPrincipal" placeholder="Ej. Av. Los Carrera 123" />

      <label class="form-label">Número de Teléfono</label>
      <input class="input-box" [(ngModel)]="telefono" placeholder="+56 9" />

      <div class="divider"></div>
      <h2>Crea tu PIN de acceso rápido</h2>

<div class="pin-box">
  <ion-input
    class="pin-input"
    type="tel"
    inputmode="numeric"
    maxlength="4"
    placeholder="••••"
    [(ngModel)]="pin"
    (ionInput)="validarPin($event)">
  </ion-input>

  <div class="pin-lines" aria-label="PIN">
    <span [class.active]="pin.length > 0"></span>
    <span [class.active]="pin.length > 1"></span>
    <span [class.active]="pin.length > 2"></span>
    <span [class.active]="pin.length > 3"></span>
  </div>
</div>
    </section>

    <div class="bottom-action">
      <button class="primary-btn" type="button" (click)="finalizar()" [disabled]="guardando">Finalizar Registro</button>
    </div>
  </main>
</ion-content>
