DB_URL=jdbc:mysql://localhost:3306/mediacion_directa?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=America/Santiago
DB_USERNAME=senas_user
DB_PASSWORD=senas_pass
SMS_CENTER_PHONE=+56900000000
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost:8100,http://localhost:5173,http://localhost:3000
