<ion-content [fullscreen]="true">
  <main class="page-shell pregunta-shell">
    <button
      class="back-btn pregunta-back"
      type="button"
      (click)="volver()">
      ‹
    </button>

    <section
      class="waiting-card"
      [ngClass]="claseEstadoCentral">

      <span class="waiting-icon">
        {{ iconoCentral }}
      </span>

      <strong>
        {{ mensajeCentral }}
      </strong>
    </section>

    <section class="question-box">
      <h1>
        ¿Puedes dar más información?
      </h1>

      <div class="question-actions">
        <button
          class="secondary-btn"
          type="button"
          (click)="responderNo()">
          NO
        </button>

        <button
          class="primary-btn"
          type="button"
          (click)="responderSi()">
          SÍ
        </button>
      </div>
    </section>
  </main>
</ion-content>